*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}
.banner{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("/public/images/pizzabg.jpg");
  background-repeat: repeat;
  background-size: cover; 
  background-attachment: fixed;
  background-position: center;
  position: relative;
  
}
.banner__content{
  display: flex;
  align-items: center;
  height: 100vh;
  color: #fff;
}
.container
{
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto; /*is se centre men ajai ga*/
}
.banner_text{
  width: 500px;
}

.banner_text h3 {
  font-size: 50px;
}
.banner_text h1 {
  font-size: 80px;
  line-height: 130px;
  font-weight: 800;
}

.banner_text p{
  font-size: 25px;
  font-weight: 400;
  margin-top: 20px;

}

.navbar{
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 2%;
}
.navbar_text
{
  display: flex;
  height: 60px;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.logo 
{
  width: 40%;
}
.logo img
{
  width: 100px;
}

.navbar_ul
{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  margin-left: 200px;
}

.navbar_ul li a{
  text-decoration: none;
  color: #fff;
  padding: 0 18px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}


.btn{
  text-decoration: none;
  border: none;
  outline: none;
  color:#fff;
  font-weight: 700;
  border-radius: 30px;
  font-size: 12px;
  padding: 20px 40px;

}
.btn-smart{
background: rgb(206, 45, 53);
}

.banner-btn{
  margin-top: 30px;
}

.about{
  padding: 80px 0;
}

.row{
  width: 100%;
  display: flex;
}

.col-6{
  width: 50%;
}
.p-25{
  padding: 45px;
}
.about h3{
  color: rgba(37,37,37,0.7);
  font-size: 30px;
  margin-bottom: 12px;
  font-weight: 700;
}

.about h1{
  color:#252525;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 15px;
  font-weight: 700;
}
.about p{
  color: #494040;
  font-size: 20px;
  font-weight: 300;
}
.about_img
{
  width: 100%;
  overflow: hidden;
  margin-left: 60px;

}

.about_img img
{
  width: 80%;
  height: 60vh;
  background-attachment: fixed;

}

.shop
{
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("/public/images/pizza.jpg");
  height: 450px;
  background-attachment: fixed;

}